<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="damiandn.com.omnitool" >

    <uses-sdk android:minSdkVersion="18"/>>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".molecularbiology.MolBioMain"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".molecularbiology.PCR"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".molecularbiology.Ligation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".molecularbiology.PCRSetup"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".General.MolarityMenu"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".General.GeneralMenu"
            android:label="@string/app_name">
        </activity>


        <activity android:name=".General.DiluteSolution"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".General.ConcentrationFromMass"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".General.VolumeFromMass"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".General.VolumeFromMoles"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".General.WashTimer"
            android:label="@string/app_name"
            >
        </activity>

        <activity android:name=".General.SetupWashTimers"
            android:label="@string/app_name"
            >
        </activity>

        <activity android:name=".molecularbiology.CodonLookup"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".molecularbiology.AminoAcidView"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".Imaging.ImagingMain"
            android:label="@string/app_name">
        </activity>




    </application>

</manifest>
